@CHARSET "UTF-8";*{-webkit-tap-highlight-color:transparent;}
body{background:#fff;font:12px/1.5 microsoft yahei,arial, '\5b8b\4f53' ;overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
button,input,select,textarea{font:100% tahoma,arial,\5b8b\4f53;}
em{font-style:normal;}
ul,ol{list-style:none;}
fieldset,img{border:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none !important;color:#000;}
a:hover{text-decoration:none !important;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}


/*#calender{-webkit-transition: 2s ease height; height: 0;overflow: hidden;} */
#calender .title-box{width: 100%; height: 4em; line-height: 4em;font-size: 1.2em; text-align: center;} 
#calender .title-box .title{float: left; width: 40%; height: 4rem; line-height: 4rem;font-size: 1.2em; text-align: center;} 
#calender .title-box .title#curMonthText{width: 40%;}
#calender .title-box .title#curDayText{width: 60%;font-size: 0.8em;}
#calender-box{ width: 91%; padding-top: 1em; margin: 0 auto; border-top: 1px solid #777;} 
#calender-box dl{margin-top: 1em;}
#calender-box dl dt,dd{float: left;width: 14%;text-align: center;}
#calender-box dl dt em,dd em{display:block; width: 3em;height: 3em;line-height: 3em;margin: 0 auto; }
#calender-box dl dd em.cur{display: block;text-align: center;border-radius: 50%;background: rebeccapurple;color: #fff;}

.t1{text-align: center;padding-top: 1em;}
.setRing{height: 3em;width: 86%;margin: 2em auto;padding-top: 0; border:1px solid green;font-size: 1em;line-height: 3em;border-radius: 1em;}

/*acticityProgress*/
#acticityProgress{padding-top: 1em;}
#acticityProgress p{text-align: center;padding: 0.3em 0;}
#acticityProgress .serial-day{width: 100%;text-align: center;border-bottom: 1px solid #e4e4e4;}
#acticityProgress .serial-day > div{padding: 0.4em 0;}
#acticityProgress .serial-day > div:nth-child(1){font-size: 1.2em;}
#acticityProgress .serial-day div em{font-size:2.6em;}
#acticityProgress .acticity-progress-box{ width: 96%; margin: 1em auto; padding: 1em 0; border:1px dotted #000;height:6.8em;}
#acticityProgress .acticity-progress-box li{float: left; width:14%;text-align: center;}
#acticityProgress .standard-status{margin:1em auto;width: 1em;height: 1em;border-radius: 50%;border:0.5em solid #000;}

/*prizeList*/
#prize-list{}
#prize-list > div{width: 72%;text-align: center;margin: 1em auto;background: green;color: #fff;height: 3em;line-height: 3em;border-radius: 0.5em;}
#prize-list > div em{width: 30%;float: left;text-align: left;padding-left: 10%;}
#prize-list > div > span{float: left; width: 60%;text-align: left;}

/*my-prize-list*/
#my-prize-list
 div 
   height: 5em;width: 86%;
   margin: 0.3em auto;
   border: 1px dotted #999;

   div
    float: left;
    width: 68%;
    border:0;
    border-right: 1px dotted #999;
    margin: 0;
    span
     display:block;
     width:100%;
     height: 1em;
     line-height: 2em;
    em
     display: block;
     text-align: center;
     line-height: 3em;  
   span
     float:left;
     width: 30%;
     height: 5em;
     line-height: 5em;
     text-align: center;
     
    
    